*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-style: normal;
	list-style: none;
	box-sizing: border-box;
}


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
::-webkit-scrollbar  {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

div.bkg{
	
}

body{
	font-family: Baskerville Old Face;
	background-image: url('https://wallpaperaccess.com/full/6713326.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

body ul{
	
}

div.transbox1 {
	margin: 30px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.95;
}

div.transbox1 p {
	margin: 5% 5%;
}

div.transbox2 {
	margin: 30px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.95;
}

div.transbox2 p {
	margin: 5% 5%;
}

div.transbox3 {
	margin: 30px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.95;
}

div.transbox3 p {
	margin: 5% 5%;
}

nav{
	background: #20233F;
	height: 70px;
	width: 100%;
	position: fixed;
	top:0;
}

.nav2{
	margin-top: 70px;
	padding: 0;
	height: 50px;
	width: 100%;
	background: #000040;
}

label.logo2{
	color: white;
	font-size: 35px;
	line-height: 48px;
	horizontal-align: middle;
	vertical-align: middle;
}

.logo img{
	margin-left: 20px;
	float: left;
	vertical-align:middle;
	position: fixed;
	border-radius: 5px;
	box-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;
	
}

nav ul{
	float: right;
	margin-right: 20px;
	vertical-align:middle;
}

nav ul li{
	display: inline-block;
	line-height: 15px;
	margin: 0 5px;
}

nav ul li a{
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	color: white;
	padding: 7px 13px;
	border-radius: 3px;
	font-size: 18px;
	text-transform: bold;
}

a.active, a:hover{
	background: white;
	color: #20233F;
	transform: scale(1.03);
	text-shadow: none;
	transition: all 1s ease;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 60px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

@media (max-width: 952px){
	label.logo {
		height: 25px;
		margin-top: 1px;
		margin-left: -95px;
		padding-left: 50px;
		position: fixed;
	}

	nav ul li a{
		font-size: 16px;
	}
	label.logo2{
		height: 30px;
	}
}

@media (max-width: 858px){
	.checkbtn{
		margin-left: 80px;
		display: flex;
		visibility: visible;

	}
	ul{
		position: relative;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 89px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a.hover,a.active{
		background: none;
	}
	#check:checked ~ ul{
		left: 0;
	}
	section{
		height: cal(100vh - 80px);
	}
}